#calculator{
    border: 1px black solid;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    display: grid;
    width: 300px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:    "display display display clear"
                            "seven eight nine divide"
                            "four five six multiply"
                            "one two three add"
                            "decimal zero equals subtract";
}

.calcButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    font-size: large;
}

#display{
    background-color: rgba(0, 0, 0, 0.925);
    color: rgba(255, 255, 255, 0.74);
    height: 50px;
    line-height: 50px;
    font-size: x-large;
    text-align: right;
    padding: 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#zero{
    grid-area: zero;
}

#add{
    grid-area: add;
}

#subtract{
    grid-area: subtract;
}

#multiply{
    grid-area: multiply;
}

#divide{
    grid-area: divide;
}

#display{
    grid-area: display;
}

#clear{
    grid-area: clear;
}

#decimal{
    grid-area: decimal;
}

#equals{
    grid-area: equals;
}
